.footer {
  margin: 70px auto 60px;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  opacity: 50%;
  margin: 0;
}

@media screen and (max-width: 920px) {
  .footer {
    display: flex;
    margin: 48px auto 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }

  .footer__section {
    width: 581px;
    margin: 0 auto;
  }
}
