.header {
  margin: 45px auto 0;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  width: 100%;
}

.header__logo {
  width: 173px;
}

@media screen and (max-width: 637px) {
  .header {
    margin-top: 28px;
    padding-bottom: 32px;
  }

  .header__section {
    width: 282px;
    margin: 0 auto;
  }

  .header__logo {
    width: 126px;
  }
}
